@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Base - Init ----------------------------------- */
// 必填项后面 的 “*”
.control-label::AFTER {
  content: '*';
  color: red;
  visibility: hidden;
}

.control-label.need::AFTER {
  visibility: visible;
}

// 日期选择器 置于最上层
.datepicker {
  z-index: 99999;
}

// 日期选择器 左对齐
.input-daterange input {
  text-align: left;
}

//表格里的 checkbox
.table-checkbox.mt-checkbox, .table-checkbox.mt-radio {
  padding-left: 18px;
}

//Select 2 右侧副标题
.select2-container .text-muted {
  float: right;
}

.select2-selection__rendered .text-muted {
  position: relative;
  top: 2px;
  right: 2px;
}

.select2-results__option--highlighted .text-muted {
  color: white;
}

//文件上传 验证未通过输入框不变红
.file-input.has-error .form-control {
  border-color: #c2cad8;
}

// 文件和表单同步上传
.file-input .hidePreview {
  display: none;
}

.file-input.has-error .hidePreview .file-preview-thumbnails {
  display: none;
}

.file-input.has-error .hidePreview {
  display: block;
}