@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Base - Init ----------------------------------- */
// 必填项后面 的 “*”
.control-label::AFTER {
  content: '*';
  color: red;
  visibility: hidden;
}

.control-label.need::AFTER {
  visibility: visible;
}

// 日期选择器 置于最上层
.datepicker {
  z-index: 99999;
}

// 日期选择器 左对齐
.input-daterange input {
  text-align: left;
}