@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Components - Block ----------------------------------- */
//块结构包裹
.block-container {
  margin-bottom: 30px;

  //块
  .block {
    position: relative;
    display: block;
    height: 150px;
    border: 1px solid #eee;
    line-height: 150px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    background-color: #5CACEE;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: lighten(#5CACEE, 8%);
    }

    //块 左上编号
    b {
      position: absolute;
      left: 10px;
      top: 5px;
      line-height: 1.5;
      font-weight: normal;
      font-size: 17px;
    }
  }
}