@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Components - Form ----------------------------------- */
form {

  //表单块
  .form-group {
    position: relative;
  }

  //错误信息
  label.error-place {
    color: red;
    position: absolute;
    right: 15px;
    bottom: 2px;
  }

  //必填项 * 号
  label.required:BEFORE {
    content: "*";
    color: red;
  }
}

//隐藏 fileinput 上传框的 每个文件下面的操作div
.file-upload-indicator, .file-actions {
  display: none;
}