@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Components - PageHeader ----------------------------------- */
.page-header {
  margin-top: 10px;
}

.handle-bar {
  margin-bottom: 15px;
  overflow: auto;

  input, a {
    float: right;
  }
}