@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Components - Select2 ----------------------------------- */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 34px;
  line-height: 34px;
}

.select2-container .select2-selection--single {
  height: 34px;
  border: 1px solid #ccc;
}

.select2-container{

}