/target/
.externalToolBuilders/
# Ant
local.properties

# Maven
target/
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac
.DS_Store

# gitignore
.gitignore

作者：拼命七娘
链接：http://www.jianshu.com/p/1a0e282026a5
來源：简书
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。