@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Layout - pageNav ----------------------------------- */
#pageNav {
  position: absolute;
  top: $pageHead-height;
  left: 0px;
  height: $pageNav-height;
  line-height: $pageNav-height;
  width: 100%;
  padding: 0px 20px;
  background: #99cc33;

  ul#topMenu {
    float: left;

    li {
      float: left;

      a {
        display: block;
        height: $pageNav-height;
        min-width: 100px;
        margin: 0px 5px;
        text-align: center;
        color: white;
        font-size: 16px;

        &.active {
          background: #3366CC;
        }
      }
    }
  }
}