@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Layout - pageLeft ----------------------------------- */
#pageLeft {
  position: absolute;
  top: $pageNav-height + $pageHead-height;
  bottom: 0px;
  width: $pageLeft-width;
  background: #FFFFCC;
}