@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Layout - topNac ----------------------------------- */
#topNav {

  @media (min-width: 768px) {
    .user-info {
      overflow: auto;

      span, a {
        padding-top: 15px;
        padding-bottom: 15px;
        display: inline-block;

      }
    }
  }

  @media (max-width: 768px) {
    .user-info {
      overflow: auto;
      float: right;
    }
  }

}