@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Pages - Login ----------------------------------- */
#login {
  height: 100%;
  background-color: #eee;
  padding: 40px 0px;

  //登录表单
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    //标题
    .form-signin-heading {
      margin-bottom: 10px;
    }

    //输入框
    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 5px;
    }

    //登陆失败提示信息
    .login-error {
      color: red;
    }

    //提交按钮
    .btn {
      margin-top: 15px;
    }
  }
}