@charset "utf-8";

@import "../helpers/parameters";
@import "../helpers/mixin";

/* ----------------------------------- Pages - SealPage ----------------------------------- */
#sealPage {
  .thumbnail {
    text-align: center;
    padding-top: 15px;

    & > img {
      width: 280px;
      height: 260px;
    }
  }
}